<h1>投稿一覧</h1>

<p><%#= notice %></p>

<table class= "table table table-hover">
  <thead="row">
    <tr>
      <th class-"col-md-9">投稿内容</th>
      <th class-"col-md-1"></th>
      <th class-"col-md-1"></th>
      <th class-"col-md-1"></th>
    </tr>
  </thead>  
<tbody="row">
    <% @posts.each do |post| %>
      <tr>
        <td class="col-md-9"><%= post.content %></td>
        <td class="col-md-1"><%= link_to "詳細", post_path(post.id), class: 'btn btn-info btn-sm' %></td>
        <td class="col-md-1"><%= link_to "編集", edit_post_path(post.id), class: 'btn btn-default btn-sm'%></td>
        <td class="col-md-1"><%= link_to "削除", post_path(post.id), method: :delete ,data: { confirm: '本当に削除していいですか？' },class: 'btn btn-danger btn-sm' %></td>
      </tr>
      <% end %>
    </tbody>
</table>

<P><%= link_to '新しく投稿する', new_post_path, class: 'btn btn-success btn-sm' %></p>

</div>