<div class = "container">
<h1 class = "page-header">Index</h1>

  <!--<p><%#= notice %></p>-->
  
<table class= "table table table-hover">
  <thead="row">
    <tr>
        <th class-"col-md-5">Image</th><!--追加-->
        <th class-"col-md-3">Coment</th>
        <th class-"col-md-1">User</th>
        <th class-"col-md-1"></th>
        <th class-"col-md-1"></th>
        <th class-"col-md-1"></th>
      </tr>
    </thead>
  <tbody="row">
    <% @posts.each do |post| %>
      <tr>
        <td class="col-md-5"><%= image_tag(post.image_url) if post.image.present? %></td><!--画像追加-->
        <td class="col-md-3"><%= post.content %></td>
        <td class-"col-md-1"><%= post.user.name %></td>
        <% if logged_in? && current_user.id == post.user_id %>
        <td class="col-md-1"><%= link_to "Show", post_path(post.id), class: 'btn btn-info btn-sm' %></td>
        <td class="col-md-1"><%= link_to "Edit", edit_post_path(post.id), class: 'btn btn-default btn-sm'%></td>
        <td class="col-md-1"><%= link_to "Delete", post_path(post.id), method: :delete ,data: { confirm: '本当に削除していいですか？' },class: 'btn btn-danger btn-sm' %></td>
        <% else %>
        <td class="col-md-1"><%= link_to "show", post_path(post.id), class: 'btn btn-info btn-sm' %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
